In [3]:
#ANS1
import pandas as pd
series = [4,8,15,16,23,42]
new_series = pd.Series(series)
print(new_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#ANS2
series1 = [1,2,3,4,5,'Ved','Ice',6,7,12]
new_series1 = pd.Series(series1)
print(new_series1)

0      1
1      2
2      3
3      4
4      5
5    Ved
6    Ice
7      6
8      7
9     12
dtype: object

In [9]:
#ANS3
dataframe = {
    'Name':['Alice','Age','Gender'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']
}
new_dataframe = pd.DataFrame(dataframe)
print(new_dataframe)

     Name  Age  Gender
0   Alice   25  Female
1     Age   30    Male
2  Gender   27  Female

ANS 4. Dataframe is a collection of rows/columns/records in Pandas. It is similar to the concept of 'tables' in SQL for eg -       Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles
3    David   35        Chicago
While pandas.series is a one-dimensional labeled array that can hold data of any type. It is a fundamental data structure in the Pandas library for eg - 
data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

In [ ]:
# ANS 5. Some common functions that are used in Pandas along with their functionalities are as follows - 
.read_csv() ----> Used to read CSV files
.tail() ----> Gives out the last 5 records of a table
.head() -----> Gives out the inital 5 records of a table
.dtypes() -----> Gives the datatype of records in a table

ANS 6. Only dataframe is mutable amongst the three.

In [11]:
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 22])
cities = pd.Series(['New York', 'San Francisco', 'Los Angeles'])

# Combine the Series into a DataFrame
my_dataframe = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})
print(my_dataframe)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles